{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheet %}
    {% if celebrate %}
        <style type="text/css">
            body { background-image: url({% with 'images/confetti.png' as image_static %}{% static image_static %}{% endwith %}); }
        </style>
    {% endif %}
{% endblock %}



{% block title %}Pinnevent: Thank You{% endblock%}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-sm-6 text-center my-auto">
                <a href="{% url 'index' %}"><h1 class="pinnevent-brand">Pinnevent</h1></a>
                <p>{{ thank_you_for }}</p>
            </div>
        </div>
    </div>
{% endblock %}