{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheet %}
    <style type="text/css">
        body { background-image: url({% with 'images/bg/'|add:bg_load_image|add:'.jpg' as image_static %}{% static image_static %}{% endwith %}); }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $(function () {
            $('#textbox-email').focus();
        });
    </script>
{% endblock %}


{% block content %}
{% load widget_tweaks %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-sm-8 text-center my-auto">
                <a href="{% url 'index' %}"><h1 class="pinnevent-brand force-text-white">Pinnevent</h1></a>
                <h3 class="text-white roboto-text">provides a better place for event organizers, joiners and storytellers to bring the experience that matter.</h4>

                <br><br>
                <!-- disable signup -- >
                <!-- <p  class="force-text-white">At vero eos et accusamus et iusto odio dignissimos ducimus or you may also <a class="force-text-white" href="{% url 'accounts:signup' %}"><strong>pre-signup here</strong></a>.</p> -->
                <p  class="force-text-white">we're still working with our first party but if you're interested, we can inform you once it is ready.</p>

                <div class="form-box">

                    <form class="" method="POST" novalidate>
                        {% csrf_token %}

                        <div class="form-group row justify-content-center">
                            <div class="col-sm-6 mb-2 pt-2 pr-1">
                                {% render_field form.subscriber_email id="textbox-email" class="form-control form-control-sm"  aria-describedby="emailHelp" %}
                                <small id="emailHelp" class="form-text text-left force-text-white">we'll never share your email with anyone else.</small>
                            
                                {% if form.is_bound %}
                                    {% if form.errors %}
                                        {% for error in form.subscriber_email.errors %}
                                            <div class="invalid-feedback text-left">{{ error }}</div>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            
                            </div>

                            <div class="pt-2">
                                <button class="btn bg-dark text-white btn-sm mb-2" type="submit">Reserve me a Spot!</button>
                            </div>
                        </div>
                        
                    </form>
                </div>


                <br><br>
                <!-- <a class="an white label" href="https://www.facebook.com/Pinnevent-419506955147609/" target="_blank">or like us on facebook.</a> -->
                <a class="an f-blue special-position label right pr-1" href="https://www.facebook.com/Pinnevent-419506955147609/"  target="_blank"><i class="fab fa-facebook-square fa-lg" style="color:#fff"></i></a>
                <a class="an f-blue special-position label right pr-1" href="https://www.facebook.com/Pinnevent-419506955147609/"  target="_blank"><i class="fab fa-twitter-square fa-lg" style="color:#fff"></i></a>
                <a class="an f-blue special-position label right pr-1" href="https://www.facebook.com/Pinnevent-419506955147609/"  target="_blank"><i class="fab fa-instagram fa-lg" style="color:#fff"></i></a>
                <!-- <a class="an f-blue special-position label right pr-1" href="https://www.facebook.com/Pinnevent-419506955147609/"  target="_blank"><i class="fab fa-discord fa-lg" style="color:#fff"></i></a> -->
            </div>
        </div>
    </div>
{% endblock %}